@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@font-face {
    font-family: "valorant";
    src: url('../fonts/Valorant\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    background: linear-gradient(5deg, rgba(2,0,36,1) 0%, rgba(93,9,121,1) 35%, rgba(214,0,255,1) 100%);
}

header{
    padding: 1.85rem;
    display: flex;
    color: white;
    background-color: transparent
}

.containerAgent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.abilit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abilitCard{
    display: flex;
    height: 10vh;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s ease-in-out; 
    max-width: 20vw;
    margin-top: 1rem;
    color: white;
    align-items: center;
    
    background: rgba(255, 255, 255, 0.192);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.abilitCard img{
    width: 15%;
    height: auto;
}

.abilitiesText{
    margin-left: 1rem;
    transform: translateY(44%);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
}

.abilitiesText p{
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
    transform: translateY(100px);
}


.abilitCard:hover{
    flex-grow: 0.1;
    height: 20vh;
}

.abilitCard:hover .abilitiesText{
    transform: translateX(0px);
} 

.abilitCard:hover .abilitiesText p{
    opacity: 1;
    transform: translateX(0px);
} 


.agent h1{
    top: 35vh;
    left: 25vw;
    position: absolute;
    font-family: 'valorant', 'Roboto', sans-serif;
    font-size: 7rem;
    text-shadow: 10px 10px 10px #000000;
    transform: rotate(270deg);
}

.agent img{
    position: relative;
    width: 90%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.aboutAgent{
    max-width: 20vw;
    margin-top: 20%;
    padding: 2rem;
    height: 20%;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.selectAgent{
    display: flex;
    justify-content: center;
}

.selectAgent button{
    width: 10%;
    background: rgba(0, 0, 0, 0.185);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.selectAgent img{
    width: 20%;
    height: auto;
}

.selectAgent button:hover{
    background-color: rgba(247, 247, 247, 0.158);
}